{% extends 'base.html' %}
{% block title %}Verification{% endblock %}

{% block header %}{% endblock %}


{% block content %}
<div class="flex h-auto w-full items-center justify-center min-h-screen"
     style="background: linear-gradient(hsl(var(--main), 10%, 10%, 0.65),
            hsl(var(--main), 10%, 10%, 0.65)), url(/static/images/home-bg-1.jpg);
            background-position: center; background-size: cover;">

    <div class="flex flex-col w-11/12 mx-auto md:w-11/12 lg:w-10/12 h-5/6 my-5">
        <!--* Header *-->
        <div class="backdrop-blur w-full h-14 text-xl font-medium rounded-t-lg md:rounded-t-xl
                    flex items-center"
             style="background: linear-gradient(hsl(var(--main), 10%, 10%, 0.9),
                    hsl(var(--main), 15%, 10%, 0.9))">
            <p class="flex items-center justify-items-center ml-2 sm:ml-4 md:ml-8">
                <i class="fas fa-circle-notch fa-spin mr-1.5"></i>
                Please activate your account
            </p>
        </div>
        <div class="backdrop-blur-xl w-full h-full rounded-b-md md:rounded-b-lg"
            style="background: linear-gradient(hsl(var(--main), 10%, 10%, 0.7),
                    hsl(var(--main), 10%, 10%, 0.7))">
            <div class="grid grid-rows-auto groc-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3
                        w-11/12 md:w-10/12
                        mx-auto mt-5 mb-5">
                <div class="col-span-1 row-span-1">
                    <div class="flex flex-col">
                        <div class="w-full h-3/6">
                            <img src="/static/images/required.png">
                        </div>
                        <div class="w-full h-2/6 mt-1">
                            <p>
                                <span class="font-bold">1. </span>
                                Copy your osu shortcut
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 row-span-1">
                    <div class="flex flex-col">
                        <div class="w-full h-3/6">
                            <img src="/static/images/required.png">
                        </div>
                        <div class="w-full h-2/6 mt-1">
                            <p>
                                <span class="font-bold">2. </span>
                                Right click it -> Enter Properties
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 row-span-1">
                    <div class="flex flex-col">
                        <div class="w-full h-3/6">
                            <img src="/static/images/required.png">
                        </div>
                        <div class="w-full h-2/6 mt-1">
                            <p>
                                <span class="font-bold">3. </span>
                                Find "Target Element" field
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 row-span-1">
                    <div class="flex flex-col">
                        <div class="w-full h-3/6">
                            <img src="/static/images/required.png">
                        </div>
                        <div class="w-full h-2/6 mt-1">
                            <p>
                                <span class="font-bold">4. </span>
                                Go to the end of it and and add<br>
                                <span class="rounded-md bg-hsl-25 px-2"> -devserver seventwentyseven.xyz</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 row-span-1">
                    <div class="flex flex-col">
                        <div class="w-full h-3/6">
                            <img src="/static/images/required.png">
                        </div>
                        <div class="w-full h-2/6 mt-1">
                            <p class="font-bold">
                                <span class="font-bold">4.1. </span>
                                Remember to add space before<br>"-devserver"!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 row-span-1">
                    <div class="flex flex-col">
                        <div class="w-full h-3/6">
                            <img src="/static/images/required.png">
                        </div>
                        <div class="w-full h-2/6 mt-1">
                            <p>
                                <span class="font-bold">5. </span>
                                Click save and log into your 727 account.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/discord">
                <div class="w-11/12 md:w-9/12 h-20 flex rounded-lg mx-auto bg-[#5865F2] text-base md:text-lg
                            items-center">
                    <div class="bg-[#3d47b4] h-full rounded-l-lg flex items-center px-2">
                        <i class="fab fa-discord fa-2x"></i>
                    </div>
                    <div class="ml-2">Do you still have a problem? Don't worry, join our discord and we will help for sure!</div>
                </div>
                <div class="w-full h-4"></div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom %}

{% endblock %}