{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/wavify@1/wavify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/wavify@1/jquery.wavify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/greensock@1/dist/TweenMax.min.js"></script>
{% endblock %}
{% block content %}
<section class="flex h-screen flex-col w-full bg-hsl-20 top-0" id="welcome-banner"
style="background: linear-gradient(hsla(var(--main), 20%, 20%, 0.55), hsla(var(--main), 20%, 20%, 0.55), hsla(var(--main), 20%, 20%, 1)),
            url(https://seventwentyseven.xyz/banners/4) !important; background-repeat: no-repeat !important; background-size: cover !important;">
    <!-- Move Flashes Here OwO -->
    <!--! TEMPORARLY HIDDEN !-->
    <div class="w-11/12 mx-auto max-w-screen-xl py-4 hidden" id="flashes-moved"></div>
    <!-- Sitename Text -->
    <div class="w-full h-full flex flex-col items-center justify-center -mt-[60px]">
        <span class="text-4xl md:text-5xl lg:text-7xl font-bold text-center">Seven Twenty Seven</span>
        <p class="text-xl md:text-2xl lg:text-3xl md:font-medium mt-2 text-center w-11/12 mx-auto">
            The place where you reach your zenith.
        </p>
        <div class="flex text-xl font-light mt-5 lg:mt-0 lg:absolute lg:-mb-48" x-data="{id: 1}">
            <button class="rounded-lg border-3 border-white text-white px-3 py-1
                hover:text-hsl-50 hover:bg-white transition duration-200 mr-3"
                @click="$dispatch('open-dropdown',{id})" >
                Login
            </button>
            <button class="rounded-lg border-3 border-white text-white px-3 py-1
                hover:text-hsl-50 hover:bg-white transition duration-200"
                onclick="location.href='/register'">
                Register
            </button>
        </div>
    </div>

</section>
<section class="-mt-1" id="features">
    <div class="w-full h-32 overflow-y-visible">
        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave z-10 relative rotate-180 overflow-y-visible"><defs></defs><path id="wave-1" d=""/></svg>
    </div>
    <div class="w-full text-center text-3xl md:text-4xl lg:text-5xl font-semibold">
        Here are some of our coolest features
    </div>
    <div class="mt-8 mb-10 sm:w-10/12 mx-4 sm:mx-auto max-w-screen-xl grid gap-4
        grid-cols-1 grid-rows-8
        md:grid-cols-2 md:grid-rows-4
        lg:grid-cols-4 lg:grid-rows-2">

        <!-- Grid Elements -->
        <div class="col-span-1 row-span-1 bg-hsl-20 rounded-lg text-center">
            <div class="p-5 flex flex-col justify-center text-gray-200">
                <i class="fa-solid fa-trophy text-3xl lg:text-4xl"></i>
                <h4 class="text-2xl lg:text-3xl font-semibold mt-3">Custom PP System</h4>
                <div class="w-3/4 mx-auto h-px bg-white my-4"></div>
                <p class="text-lg">
                    On 727 we have custom PP system, for example, in RX streams are nerfed
                    but jumps are buffed. Same thing goes for AP, but instead of streams, jumps are nerfed.

                </p>
            </div>
        </div>
        <div class="col-span-1 row-span-1 bg-hsl-20 rounded-lg text-center">
            <div class="p-5 flex flex-col justify-center text-gray-200">
                <i class="fa-solid fa-trophy text-3xl lg:text-4xl"></i>
                <h4 class="text-2xl lg:text-3xl font-semibold mt-3">Reward System</h4>
                <div class="w-3/4 mx-auto h-px bg-white my-4"></div>
                <p class="text-lg">
                    For voting on our server on TOPG, or by inviting your friends, you get rewards.
                    You can check your rewards in settings. Voting 10 times on our server or
                    inviting 3 friends will give you supporter for 1 month!
                </p>
            </div>
        </div>
        <div class="col-span-1 row-span-1 bg-hsl-20 rounded-lg text-center">
            <div class="p-5 flex flex-col justify-center text-gray-200">
                <i class="fa-solid fa-users text-3xl lg:text-4xl"></i>
                <h4 class="text-2xl lg:text-3xl font-semibold mt-3">Clans</h4>
                <div class="w-3/4 mx-auto h-px bg-white my-4"></div>
                <p class="text-lg">
                    We have whole clan system, you can create own one or join existing clan.
                    Clans have separate leaderboards, customization, roles and more!
                </p>
            </div>
        </div>
        <div class="col-span-1 row-span-1 bg-hsl-20 rounded-lg text-center">
            <div class="p-5 flex flex-col justify-center text-gray-200">
                <i class="fa-solid fa-robot text-3xl lg:text-4xl"></i>
                <h4 class="text-2xl lg:text-3xl font-semibold mt-3">Discord Bot</h4>
                <div class="w-3/4 mx-auto h-px bg-white my-4"></div>
                <p class="text-lg">
                    We have discord bot which you can find on our discord, currently it supports
                    basic things like viewing prifile, checking recent or best scores etc. More
                    features will be added in future!
                </p>
            </div>
        </div>
        <div class="col-span-1 row-span-1 bg-hsl-20 rounded-lg text-center">
            <div class="p-5 flex flex-col justify-center text-gray-200">
                <i class="fa-solid fa-gear text-3xl lg:text-4xl"></i>
                <h4 class="text-2xl lg:text-3xl font-semibold mt-3">Customization</h4>
                <div class="w-3/4 mx-auto h-px bg-white my-4"></div>
                <p class="text-lg">
                    Your profile is like your home, you can change ton of things, your banner, background,
                    position of elements, website colors, default mode. You can write about me, set up
                    your contact info and more!
                </p>
            </div>
        </div>
        <div class="col-span-1 row-span-1 bg-hsl-20 rounded-lg text-center">
            <div class="p-5 flex flex-col justify-center text-gray-200">
                <i class="fa-solid fa-music text-3xl lg:text-4xl"></i>
                <h4 class="text-2xl lg:text-3xl font-semibold mt-3">Beatmap Browsing</h4>
                <div class="w-3/4 mx-auto h-px bg-white my-4"></div>
                <p class="text-lg">
                    We're one of few servers with beatmap browsing, you can search for beatmaps
                    by artist, title, creator, difficulty, mode. You can also search ones
                    that are ranked on bancho or on 727 specifically!
                </p>
            </div>
        </div>
        <div class="col-span-1 row-span-1 bg-hsl-20 rounded-lg text-center">
            <div class="p-5 flex flex-col justify-center text-gray-200">
                <i class="fa-solid fa-code text-3xl lg:text-4xl"></i>
                <h4 class="text-2xl lg:text-3xl font-semibold mt-3">Score Page</h4>
                <div class="w-3/4 mx-auto h-px bg-white my-4"></div>
                <p class="text-lg">
                    You can check your score details on our score page, but unlike any other server
                    Here, you can check hit deviance, UR through play and more!
                </p>
            </div>
        </div>
        <div class="col-span-1 row-span-1 bg-hsl-20 rounded-lg text-center">
            <div class="p-5 flex flex-col justify-center text-gray-200">
                <i class="fa-solid fa-trophy text-3xl lg:text-4xl"></i>
                <h4 class="text-2xl lg:text-3xl font-semibold mt-3">Beatmap Ranking</h4>
                <div class="w-3/4 mx-auto h-px bg-white my-4"></div>
                <p class="text-lg">
                    Want some map to be ranked, just ask for it in beatmap request section and we'll
                    review it as soon as possible! Our BNs are active so it won't take long.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="stats" class="bg-hsl-10">
    <div class="py-10 grid gap-4 justify-around w-10/12 mx-auto max-w-screen-xl
        grid-cols-1 grid-rows-3

        lg:grid-cols-3 lg:grid-rows-1">
        <div class="p-4 col-span-1 row-span-1 bg-hsl-20 rounded-lg flex flex-col">
            <h6 class="text-2xl text-hsl-90"><i class="fa-solid fa-users mr-2"></i>Registered Users</h6>
            <hr class="my-3 bg-hsl-70">
            <span class="text-4xl font-semibold font-mono" id="users-count"></span>
        </div>
        <div class="p-4 col-span-1 row-span-1 bg-hsl-20 rounded-lg flex flex-col">
            <h6 class="text-2xl text-hsl-90"><i class="fa-solid fa-trophy mr-2"></i>Scores Submitted</h6>
            <hr class="my-3 bg-hsl-70">
            <span class="text-4xl font-semibold font-mono" id="scores-count"></span>
        </div>
        <div class="p-4 col-span-1 row-span-1 bg-hsl-20 rounded-lg flex flex-col">
            <h6 class="text-2xl text-hsl-90"><i class="fa-solid fa-music mr-2"></i>Custom Rankeds</h6>
            <hr class="my-3 bg-hsl-70">
            <span class="text-4xl font-semibold font-mono" id="rankeds-count"r></span>
        </div>
    </div>
</section>
{% endblock %}

{% block bottom %}
<script>
    function addCommas(x) {
        // I have no idea how this shit works
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    // Delete max-w-screen-xl from main-block
    document.querySelector('#content-container').classList.remove('max-w-screen-xl', 'mx-auto');

    // Move flashes from flash-container to flashes-moved, delete old ones
    document.querySelector('#flashes-moved').innerHTML = document.querySelector('#flash-container').innerHTML;
    document.getElementById('flash-container').remove();

    // Make api request to /webapi/home?type=guest
    fetch('/webapi/home?type=guest', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        }
    }).then(function(response) {
        return response.json();
    }).then(function(data) {
        // Set the count of scores submitted
        $('#scores-count').text(addCommas(data.scores));
        $('#rankeds-count').text(addCommas(data.rankeds));
        $('#users-count').text(addCommas(data.users));
    });
</script>

<script>
    // Baltic sea
    var wave1 = $('#wave-1').wavify({
        height: 35,
        bones: 4,
        amplitude: 30,
        color: 'hsl(230, 20%, 20%)',
        speed: .20
      });
</script>
{% endblock %}