{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}
<script type="text/babel" src="/public/js/home.jsx"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.33.2/apexcharts.min.js" integrity="sha512-iBEfFld2z1SAXCPmgoA40VQtqGP0cEJw4fy+t3ARW30uEfzf8hyrmm4mc5qdth3wZRPdKTv/auk5WH52klRVDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/privileges.js"></script>
{% endblock %}
{% block content %}
<div class="flex flex-col max-w-screen-xl mx-auto">
    <!-- Top block -->
    <div class="w-full flex flex-col lg:flex-row h-auto lg:h-56">
        <!-- Welcome block -->
        <div class="flex flex-col w-full lg:w-2/5 bg-hsl-20 rounded-lg h-full"
            style="background: linear-gradient(hsla(var(--main), 15%, 15%, 0.75), hsla(var(--main), 15%, 15%, 0.75)),
            url(https://seventwentyseven.xyz/banners/4) !important; background-repeat: no-repeat !important; background-size: cover !important;">
            <div class="p-5 h-auto lg:h-full flex flex-col text-center lg:text-left">
                <div class="flex flex-col">
                    <h3 class="text-2xl font-bold text-white flex items-center justify-center">Welcome back,</h3>
                    <h4 class="text-3xl font-bold text-hsl-90 flex items-center justify-center">{{ session.user.name }}!</h4>
                </div>
                <div class="mt-2 lg:mt-auto w-full grid grid-cols-2 grid-rows-2 lg:grid-cols-4 lg:grid-rows-1 text-center whitespace-nowrap gap-1">
                    <div class="col-span-1 row-span-1 flex flex-col">
                        <span class="text-pink-500 font-medium">registered</span>
                        <span class="text-2xl font-bold text-hsl-90 -mt-1">{{ data.users | commas }}</span>
                    </div>
                    <div class="col-span-1 row-span-1 flex flex-col">
                        <span class="text-green-500 font-medium">online</span>
                        <span class="text-2xl font-bold text-hsl-90 -mt-1">{{ data.online }}</span>
                    </div>
                    <div class="col-span-1 row-span-1 flex flex-col">
                        <span class="text-cyan-400 font-medium">total scores</span>
                        <span class="text-2xl font-bold text-hsl-90 -mt-1">{{ data.scores | commas }}</span>
                    </div>
                    <div class="col-span-1 row-span-1 flex flex-col">
                        <span class="text-purple-500 font-medium">custom rankeds</span>
                        <span class="text-2xl font-bold text-hsl-90 -mt-1">{{ data.maps | commas }}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second block -->
        <!--TODO: Change it to something better -->
        <div class="hidden lg:flex w-full lg:w-3/5 bg-hsl-20 rounded-lg h-full ml-4">
            <div class="p-4 flex flex-col h-full w-full">
                <div class="mt-2 grid grid-cols-2 grid-rows-2 gap-3 w-full h-full text-xl font-semibold text-hsl-85">
                    <div class="row-span-1 col-span-1 bg-hsl-25 hover:text-white hover:bg-pink-600 transition duration-200 rounded-lg flex items-center justify-center cursor-pointer select-none"><i class="fa-solid fa-signal mr-2"></i>Server Status</div>
                    <div class="row-span-1 col-span-1 bg-hsl-25 hover:text-white hover:bg-green-500 transition duration-200 rounded-lg flex items-center justify-center cursor-pointer select-none"><i class="fas fa-gear mr-2"></i>Settings</div>
                    <div class="row-span-1 col-span-1 bg-hsl-25 hover:text-white hover:bg-sky-600 transition duration-200 rounded-lg flex items-center justify-center cursor-pointer select-none"><i class="fa-solid fa-chart-area mr-2"></i>Statistics</div>
                    <div class="row-span-1 col-span-1 bg-hsl-25 hover:text-white hover:bg-purple-600 transition duration-200 rounded-lg flex items-center justify-center cursor-pointer select-none">
                        <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="root">
    </div>
</div>
{% endblock %}

{% block bottom %}{% endblock %}
