{% extends 'base.html' %}
{% block title %}Team{% endblock %}
{% block content %}
<div class="flex flex-col items-center h-screen">
    <div class="w-full p-40 py-10">

        <p class="text-center font-bold text-3xl text-white">727 team</p>
        <p class="text-center text-sm text-white pb-10">We make this thing go, <em>duh</em></p>

        <div class="grid grid-cols-2 grid-rows-2 gap-6 mb-6">
            
            <!--! OWNER BLOCK -->
            <div class="bg-hsl-20 rounded-lg p-6 pt-4 mb-6">
                <h1 class="text-hsl-50 font-semibold text-xl text-center mb-4">Owners</h1>
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex flex-col items-center">
                        <img src="https://a.seven27.tk/3" alt="gradzika fifors" class="rounded-full h-16 w-16 mb-2">
                        <h2 class="text-white font-semibold text-left">jkzu123(not real)</h2>
                    </div>

                    <div class="flex flex-col items-center">
                        <img src="https://a.seven27.tk/4" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                        <h2 class="text-white font-semibold text-left">def750</h2>
                    </div>
                </div>
            </div>

            <!--! ADMINISTRATOR BLOCK -->
            <div class="bg-hsl-20 rounded-lg p-6 pt-4 mb-6">
                <h1 class="text-hsl-50 font-semibold text-xl text-center mb-4">Administrators</h1>
                <div class="grid grid-cols-4 gap-4">
                    <div class="flex flex-col items-center">
                        <img src="https://a.seven27.tk/5" alt="dolfin" class="rounded-full h-16 w-16 mb-2">
                        <h2 class="text-white font-semibold text-left">Dolphin_</h2>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://a.seven27.tk/6" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                        <h2 class="text-white font-semibold text-left">minatoaqua2</h2>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://a.seven27.tk/7" alt="gradzika fifors" class="rounded-full h-16 w-16 mb-2">
                        <h2 class="text-white font-semibold text-left">Thief</h2>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="https://a.seven27.tk/8" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                        <h2 class="text-white font-semibold text-left">Woozy</h2>
                    </div>
                </div>
            </div>

            <!--! COMMUNITY MANAGER BLOCK -->
            <div class="bg-hsl-20 rounded-lg p-6 pt-4 mb-6">
                <h1 class="text-hsl-50 font-semibold text-xl text-center mb-4">Community Manager</h1>
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/9" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">Tytek</h2>
                </div>
            </div>

            <!--! MODERATOR BLOCK -->
            <div class="bg-hsl-20 rounded-lg p-6 pt-4 mb-6">
                <h1 class="text-hsl-50 font-semibold text-xl text-center mb-4">Moderator</h1>
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/10" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">coulrulner2</h2>
                </div>
            </div>
        </div>

        <!--! BN BLOCK -->
        <div class="bg-hsl-20 rounded-lg p-6 pt-4">
            <h1 class="text-hsl-50 font-semibold text-xl text-center mb-4">Beatmap Nominators</h1>
            <div class="grid grid-cols-7 gap-2">
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/11" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">_Ta1k0_</h2>
                    <p class="text-white text-sm text-center">osu!taiko</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/12" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">Xgojfz</h2>
                    <p class="text-white text-sm text-center">osu!mania</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/13" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">Dolphin_</h2>
                    <p class="text-white text-sm text-center">osu!</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/14" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">Osef</h2>
                    <p class="text-white text-sm text-center">osu!mania</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/15" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">Tytek</h2>
                    <p class="text-white text-sm text-center">osu! and osu!taiko</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/16" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">wicked</h2>
                    <p class="text-white text-sm text-center">osu!</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="https://a.seven27.tk/17" alt="szef750" class="rounded-full h-16 w-16 mb-2">
                    <h2 class="text-white font-semibold text-left">Yellow</h2>
                    <p class="text-white text-sm text-center">osu!</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
