{% extends 'base.html' %}
{% block title %}Leaderboard{% endblock %}
{% block content %}
<div class="flex flex-row flex-wrap max-w-xl mx-auto text-xl back">
    <div class="w-20 h-20 bg-hsl-5 flex items-center justify-center"><span>5</span></div>
    <div class="w-20 h-20 bg-hsl-10 flex items-center justify-center"><span>10</span></div>
    <div class="w-20 h-20 bg-hsl-15 flex items-center justify-center"><span>15</span></div>
    <div class="w-20 h-20 bg-hsl-20 flex items-center justify-center"><span>20</span></div>
    <div class="w-20 h-20 bg-hsl-25 flex items-center justify-center"><span>25</span></div>
    <div class="w-20 h-20 bg-hsl-30 flex items-center justify-center"><span>30</span></div>
    <div class="w-20 h-20 bg-hsl-35 flex items-center justify-center"><span>35</span></div>
    <div class="w-20 h-20 bg-hsl-40 flex items-center justify-center"><span>40</span></div>
    <div class="w-20 h-20 bg-hsl-45 flex items-center justify-center"><span>45</span></div>
    <div class="w-20 h-20 bg-hsl-50 flex items-center justify-center"><span>50</span></div>
    <div class="w-20 h-20 bg-hsl-55 flex items-center justify-center"><span>55</span></div>
    <div class="w-20 h-20 bg-hsl-60 flex items-center justify-center"><span>60</span></div>
    <div class="w-20 h-20 bg-hsl-65 flex items-center justify-center"><span>65</span></div>
    <div class="w-20 h-20 bg-hsl-70 flex items-center justify-center"><span>70</span></div>
    <div class="w-20 h-20 bg-hsl-75 flex items-center justify-center"><span>75</span></div>
    <div class="w-20 h-20 bg-hsl-80 flex items-center justify-center"><span>80</span></div>
    <div class="w-20 h-20 bg-hsl-85 flex items-center justify-center"><span>85</span></div>
    <div class="w-20 h-20 bg-hsl-90 flex items-center justify-center"><span>90</span></div>
    <div class="w-20 h-20 bg-hsl-95 flex items-center justify-center"><span>95</span></div>
    <div class="w-20 h-20 bg-hsl-30-15 flex items-center justify-center"><span>30-15</span></div>
    <div class="w-20 h-20 bg-hsl-25-30 flex items-center justify-center"><span>25-30</span></div>
    <div class="w-20 h-20 bg-hsl-25-10 flex items-center justify-center"><span>25-10</span></div>
    <div class="w-20 h-20 bg-hsl-15-25 flex items-center justify-center"><span>15-25</span></div>
    <div class="w-20 h-20 bg-hsl-15-20 flex items-center justify-center"><span>15-20</span></div>
    <div class="w-20 h-20 bg-hsl-15-10 flex items-center justify-center"><span>15-10</span></div>
    <div class="w-20 h-20 bg-hsl-10-30 flex items-center justify-center"><span>10-30</span></div>
    <div class="w-20 h-20 bg-hsl-10-25 flex items-center justify-center"><span>10-20</span></div>
    <div class="w-20 h-20 bg-hsl-10-20 flex items-center justify-center"><span>10-10</span></div>
    <div class="w-20 h-20 bg-hsl-10-15 flex items-center justify-center"><span>10-15</span></div>
</div>
{%endblock%}