.player-flag {
    display: inline-block;
    background-size: 100%;
    margin-right: 4px;
    width: 30px;
    height: 20px;
    margin-bottom: -6px;
    transition: .2s filter ease-out,.2s box-shadow ease-out;
    border-radius: 2px;
}