{% extends 'admin/base.html' %}
{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.33.2/apexcharts.min.js" integrity="sha512-iBEfFld2z1SAXCPmgoA40VQtqGP0cEJw4fy+t3ARW30uEfzf8hyrmm4mc5qdth3wZRPdKTv/auk5WH52klRVDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block title %}Error{% endblock %}
{% block pagetitle %}{% endblock %}
{% block content %}

<div class="row row-deck row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-status-start bg-red"></div>
            <div class="card-body">
                <h3 class="card-title">Error</h3>
                <p class="text-muted">{{ msg }}</p>
            </div>
        </div>
    </div>
</div>
<style>

</style>
<script>

</script>


{% endblock %}
{% block bottom %}
<script>

</script>
{% endblock %}
