{% extends 'admin/base.html' %}
{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.33.2/apexcharts.min.js" integrity="sha512-iBEfFld2z1SAXCPmgoA40VQtqGP0cEJw4fy+t3ARW30uEfzf8hyrmm4mc5qdth3wZRPdKTv/auk5WH52klRVDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block pagetitle %}Dashboard{% endblock %}
{% block content %}

<div class="row row-deck row-cards">
    <!--* Users Registered -->
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">Users Registered</div>
                </div>
                <div class="d-flex align-items-baseline">
                    <div class="h1 mb-0 me-2" id="data-users_total"></div>
                </div>
            </div>
            <div id="chart-users-registered" class="chart-sm" style="min-height: 40px;">
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">Users Online</div>
                    <div class="ms-auto lh-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 1 hour</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item active" href="#">Last 1 hour</a>
                                <a class="dropdown-item" href="#">Last 3 hours</a>
                                <a class="dropdown-item" href="#">Last 24 hours</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-baseline">
                    <div class="h1 mb-0 me-2" id="data-users_online"></div>
                </div>
            </div>
            <div id="chart-users-online" class="chart-sm" style="min-height: 40px;">
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-medal" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="CurrentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 4v3m-4 -3v6m8 -6v6" />
                                <path d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z" />
                            </svg>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium" id="data-scores_total">
                        </div>
                        <div class="text-muted" id="data-scores_unfailed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-blue text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-headphones" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <rect x="4" y="13" rx="2" width="5" height="7" />
                                <rect x="15" y="13" rx="2" width="5" height="7" />
                                <path d="M4 15v-3a8 8 0 0 1 16 0v3" />
                            </svg>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium" id="data-maps_total">
                        </div>
                        <div class="text-muted" id="data-maps_ranked">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4">
        <div class="card card-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-red text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <circle cx="12" cy="12" r="9" />
                                <line x1="5.7" y1="5.7" x2="18.3" y2="18.3" />
                            </svg>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium" id="data-restricted_total"></div>
                        <div class="text-muted" id="data-recently_restricted"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-deck row-cards" style="margin-top: 0px;">
    <!-- Recent Actions -->
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Recent Actions</h3>
            </div>
            <div class="card-body">
                <ul class="list list-timeline" id="timeline"></ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card">

            <a class="card-img-top img-responsive img-responsive-21x9"
                style="background-image: url(/static/images/home-bg.png);
                background-position: center;"
                href="" id="data-most_played_box">
            </a>
            <div class="card-body">
                <h3 class="card-title">Most played beatmap is</h3>
                <p id="data-most_played_text">

                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block bottom %}
<script>
    d = {}

    function checkAction(el) {
        switch(el.action) {
            case 'restrict':
                return `
                <li>
                    <div class="list-timeline-icon bg-red">
                        <i class="fas fa-ban" style="font-size: 18px;"></i>
                    </div>
                    <div class="list-timeline-content">
                        <div class="list-timeline-time">${el.timeago}</div>
                        <p class="list-timeline-title">
                            <a href="/u/${el.from}" class="text-azure">${el.author_name}</a>
                            <span> restricted </span>
                            <a href="/u/${el.to}" class="text-azure">${el.receiver_name}</a>
                        </p>
                        <p>
                            <span class="text-muted">Reason: </span>${el.msg}
                        </p>
                    </div>
                </li>`
                case 'unrestrict':
                    return `
                    <li>
                        <div class="list-timeline-icon bg-green">
                            <i class="fas fa-ban" style="font-size: 18px;"></i>
                        </div>
                        <div class="list-timeline-content">
                            <div class="list-timeline-time">${el.timeago}</div>
                            <p class="list-timeline-title">
                                <a href="/u/${el.from}" class="text-azure">${el.author_name}</a>
                                <span> unrestricted </span>
                                <a href="/u/${el.to}" class="text-azure">${el.receiver_name}</a>
                            </p>
                            <p>
                                <span class="text-muted">Reason: </span>${el.msg}
                            </p>
                        </div>
                    </li>`
                case 'silence':
                    return `
                    <li>
                        <div class="list-timeline-icon bg-yellow">
                            <i class="fas fa-comment-slash" style="font-size: 18px;"></i>
                        </div>
                        <div class="list-timeline-content">
                            <div class="list-timeline-time">${el.timeago}</div>
                            <p class="list-timeline-title">
                                <a href="/u/${el.from}" class="text-azure">${el.author_name}</a>
                                <span> silenced </span>
                                <a href="/u/${el.to}" class="text-azure">${el.receiver_name}</a>
                            </p>
                            <p>
                                <span class="text-muted">Reason and time: </span>${el.msg}
                            </p>
                        </div>
                    </li>`
                case 'unsilence':
                    return `
                    <li>
                        <div class="list-timeline-icon bg-green">
                            <i class="fas fa-comment-slash" style="font-size: 18px;"></i>
                        </div>
                        <div class="list-timeline-content">
                            <div class="list-timeline-time">${el.timeago}</div>
                            <p class="list-timeline-title">
                                <a href="/u/${el.from}" class="text-azure">${el.author_name}</a>
                                <span> unsilenced </span>
                                <a href="/u/${el.to}" class="text-azure">${el.receiver_name}</a>
                            </p>
                        </div>
                    </li>`
                case 'note':
                    return `
                    <li>
                        <div class="list-timeline-icon bg-blue">
                            <i class="fas fa-sticky-note" style="font-size: 18px;"></i>
                        </div>
                        <div class="list-timeline-content">
                            <div class="list-timeline-time">${el.timeago}</div>
                            <p class="list-timeline-title">
                                <a href="/u/${el.from}" class="text-azure">${el.author_name}</a>
                                <span> added note to </span>
                                <a href="/u/${el.to}" class="text-azure">${el.receiver_name}</a>
                            </p>
                            <p>
                                <span class="text-muted">Note Content: </span>${el.msg}
                            </p>
                        </div>
                    </li>`
                default:
                    return `
                    <li>
                        <div class="list-timeline-icon bg-red">
                            <i class="fas fa-question" style="font-size: 18px;"></i>
                        </div>
                        <div class="list-timeline-content">
                            <div class="list-timeline-time">${el.timeago}</div>
                            <p class="list-timeline-title">
                                <a href="/u/${el.from}" class="text-azure">${el.author_name}</a>
                                <span> did something to </span>
                                <a href="/u/${el.to}" class="text-azure">${el.receiver_name}</a>
                            </p>
                            <p>
                                <span class="text-muted">Message: </span>${el.msg}
                            </p>
                        </div>
                    </li>`
        }
    }
    // Add commas to number
    function addCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    // Fetch most of data from le api
    axios.get('/wapi/admin/get_dashboard_stats')
    .then((r) => {
        d = r.data.result
        // Total users
        document.getElementById('data-users_total').innerHTML = addCommas(d.users.total-1)

        // Most played beatmap
        document.getElementById('data-most_played_text').innerHTML = `
            ${d.most_played.artist} - ${d.most_played.title} [${d.most_played.version}]
            <br>
            <span>mapped by ${d.most_played.creator}</span>
            <br>
            <span>With ${d.most_played.plays} plays and ${d.most_played.passes} passes</span>
        `
        document.getElementById('data-most_played_box').href = `beatmaps/${d.most_played.set_id}`
        document.getElementById('data-most_played_box').style = `
            background-image: url(https://assets.ppy.sh/beatmaps/${d.most_played.set_id}/covers/fullsize.jpg);
            background-position: center`

        // Restricted users
        document.getElementById('data-restricted_total').innerHTML = addCommas(d.users.restricted) + ' Restricted in total'
        document.getElementById('data-recently_restricted').innerHTML = addCommas(d.recently_restricted) + ' restricted in last 7 days'
        // Maps
        document.getElementById('data-maps_total').innerHTML = addCommas(d.maps.total) + ' Maps in the database'
        document.getElementById('data-maps_ranked').innerHTML = addCommas(d.maps.with_lb) + ' of them have a leaderboard'

        // loop thru d.recent_actions
        // add to ul
        for (el of d.recent_actions) {
            document.getElementById('timeline').innerHTML += checkAction(el)
        }
    })
    function updateOnlines() {
        axios.get('https://api.{{ domain() }}/get_player_count')
        .then((r) => {
            document.getElementById('data-users_online').innerHTML = r.data.counts.online
        })
    }
    function getScoresCount() {
        // get score counts
        axios.get('/wapi/admin/get_scores_data')
        .then((r) => {
            // Scores
            d = r.data.result
            document.getElementById('data-scores_total').innerHTML = addCommas(d.total) + ' Total scores'
            document.getElementById('data-scores_unfailed').innerHTML = addCommas(d.not_failed) + ' of them are not failed'
        })
    }
    // Execute updateOnlines() every 5 seconds
    updateOnlines()
    setInterval(updateOnlines, 5000)
    getScoresCount()
    setInterval(getScoresCount, 5000)

</script>
<!-- Registered graph-->
<script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
        users_reg = []
        dates_reg = []
        axios.get('/wapi/admin/user_graph')
        .then((r) => {
            console.log(r)
            for (el of r.data.result) {
                users_reg.push(el[0])
                dates_reg.push(el[1])
            }
        })
        window.ApexCharts && (new ApexCharts(document.getElementById('chart-users-registered'), {
            chart: {
                type: "area",
                fontFamily: 'inherit',
                height: 40.0,
                sparkline: {
                    enabled: true
                },
                animations: {
                    enabled: false
                },
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: .16,
                type: 'solid'
            },
            stroke: {
                width: 2,
                lineCap: "round",
                curve: "smooth",
            },
            series: [{
                name: "Users Registered",
                data: users_reg
            }],
            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
                type: 'datetime',
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            labels: dates_reg,
            colors: ["#206bc4"],
            legend: {
                show: false,
            },
        })).render();
    });
    // @formatter:on
</script>
<!--
<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
      window.ApexCharts && (new ApexCharts(document.getElementById('chart-users-online'), {
          chart: {
              type: "area",
              fontFamily: 'inherit',
              height: 40.0,
              sparkline: {
                  enabled: true
              },
              animations: {
                  enabled: false
              },
          },
          dataLabels: {
              enabled: false,
          },
          fill: {
              opacity: .16,
              type: 'solid'
          },
          stroke: {
              width: 2,
              lineCap: "round",
              curve: "smooth",
          },
          series: [{
              name: "Profits",
              data: [37, 35, 44, 28, 36, 24, 65, 31, 37, 39, 62, 51, 35, 41, 35, 27, 93, 53, 61, 27, 54, 43, 19, 46, 39, 62, 51, 35, 41, 67]
          }],
          grid: {
              strokeDashArray: 4,
          },
          xaxis: {
              labels: {
                  padding: 0,
              },
              tooltip: {
                  enabled: false
              },
              axisBorder: {
                  show: false,
              },
              type: 'datetime',
          },
          yaxis: {
              labels: {
                  padding: 4
              },
          },
          labels: [
              '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20'
          ],
          colors: ["#2fb344"],
          legend: {
              show: false,
          },
      })).render();
  });
  // @formatter:on

</script>
-->
{% endblock %}
