{% extends 'settings/base.html' %}
{% block title %}About Me{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<!--! About Me -->
<div class="rounded-lg mx-3 my-3 bg-hsl-25">
    <div class="mx-3 flex flex-col">
        <div class="w-full ml-2 mt-3">
            <p class="font-medium">About Me</p>
            <div class="h-1 w-10 bg-hsl-60 rounded-full mt-1"></div>
        </div>

        <div class="my-5 flex flex-col md:flex-row mx-2">
            <form class="flex flex-col w-full">
                <label for="about_me-textarea">
                    <p class="text-sm font-gray-50">
                        You can use
                        <a href="https://markdown-it.github.io/" target="_blank" rel="noopener"
                           class="text-hsl-90 hover:text-hsl-80 transition duration-300">
                            <span>markdown</span>
                        </a> here.<br>
                        Putting explicit and rule-breaking content here might result
                        in a ban for changing your about me.
                    </p>
                </label>
                <textarea id="about_me-textarea"
                    class="h-80 bg-hsl-20 rounded-lg w-full mx-auto outline-none resize-y
                    py-1 px-2 mt-2">{{ cur_abtme }}</textarea>
                <div class="flex justify-center mt-2">
                    <button type="submit" onclick="sumbitAboutMe()"
                            class="text-white bg-hsl-50 hover:bg-hsl-60
                                        focus:ring-4 focus:ring-hsl-90 font-medium
                                        rounded-lg text-sm w-full sm:w-auto px-6 py-2
                                        text-center mt-3">
                            <span><i class="fas fa-check mr-2"></i>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block bottom %}
<script>
    function sumbitAboutMe() {
        const json = JSON.stringify({ data: document.getElementById('about_me-textarea').value });
        axios.post('https://{{ domain() }}/wapi/update_aboutme', json)
    }
</script>
{% endblock %}