{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}

<script type="text/babel" src="/public/js/user_home.jsx"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.33.2/apexcharts.min.js"
    integrity="sha512-iBEfFld2z1SAXCPmgoA40VQtqGP0cEJw4fy+t3ARW30uEfzf8hyrmm4mc5qdth3wZRPdKTv/auk5WH52klRVDg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block content %}
<style>
    .background {
        background: url('https://dzifors.pl/backgrounds/4');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 110%;
        width: 100%;
    } .background::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
            hsla(var(--main), 15%, 15%, 0.60),
            hsla(var(--main), 15%, 15%, 0.60));
    } .background::before {
        position: absolute;
        content: "";
        height: 20%;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            hsla(var(--main), 15%, 15%, 0.0),
            hsla(var(--main), 15%, 15%, 5.0));
    }

    .banner {
        background: linear-gradient(hsla(var(--main), 15%, 15%, 0.50),
                    hsla(var(--main), 15%, 15%, 0.5)),
                    url('https://dzifors.pl/banners/4');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<div class="w-full flex flex-col font-comfortaa">
    <div class="absolute -z-50 background top-0 overflow-x-hidden"></div>
    <div class="flex flex-col max-w-screen-2xl mx-2 md:w-[97%] w-full h-screen md:mx-auto z-10">
        <div class="w-full bg-hsl-50 rounded-2xl flex flex-col shadow-md shadow-hsl-5">
            <!-- Banner -->
            <div class="w-full banner rounded-t-2xl flex flex-col">
                <div class="bg-hsl-10 bg-opacity-60 px-3 py-1.5 w-fit mx-3 mt-3 rounded-lg">
                    <span class="text-lg">🎵 Playing Katagiri - Strong 280 [d-_-b 1.4x] mapped by UJ SZEF</span>
                </div>
                <div class="flex flex-col items-center justify-center h-max mt-6 mb-3">
                    <img
                        src="https://a.dzifors.pl/4"
                        class="w-40 h-40 rounded-lg shadow-md shadow-hsl-5">
                    <div class="flex flex-row items-center justify-center mt-5">
                        <div
                            class="cursor-pointer h-7 w-10 mr-2"
                            style="background-image:
                                url(/public/images/flags/pl.svg);
                                background-size: contain; background-repeat: no-repeat;">
                        </div>
                        <span class="text-2xl font-bold -mt-0.5">[UTO] def750</span>
                        <!-- On hover show previous unames -->
                        <i class="fa-solid fa-address-card ml-2 -mt-1 hidden md:block"></i>
                    </div>
                    <div class="w-11/12 md:w-2/5 flex flex-wrap justify-center mt-2">
                        <div class="border-2 border-rose-500 rounded text-sm text-medium text-rose-500 py-0.5 px-1 m-1 bg-hsl-10 bg-opacity-60">
                            <i class="fas fa-crown"></i>
                            <span class="-mb-0.5">Owner</span>
                        </div>
                    </div>
                </div>
                <!-- Mode Select -->
                <div class="flex flex-col lg:flex-row items-center lg:justify-between md:h-12 mx-10 text-lg text-hsl-80 mb-5 md:mb-0">
                    <div class="flex flex-row items-center h-full bg-hsl-15 rounded-lg md:rounded-b-none mb-2 lg:mb-0 px-3 py-3px w-fit">
                        <button class="mx-1 lg:mx-2">
                            <em class="mode-icon osu"></em>
                            <span>osu</span>
                        </button>
                        <button class="mx-1 lg:mx-2">
                            <em class="mode-icon taiko"></em>
                            <span>taiko</span>
                        </button>
                        <button class="mx-1 lg:mx-2">
                            <em class="mode-icon catch"></em>
                            <span>catch</span>
                        </button>
                        <button class="mx-1 lg:mx-2 text-white">
                            <em class="mode-icon mania"></em>
                            <span>mania</span>
                        </button>
                    </div>
                    <div class="flex flex-row items-center h-full bg-hsl-15 rounded-lg md:rounded-b-none px-2 py-3px w-fit">
                        <button class="mx-1 lg:mx-2 text-white">
                            <span>Vanilla</span>
                        </button>
                        <button class="mx-1 lg:mx-2">
                            <span>Relax</span>
                        </button>
                        <button class="mx-1 lg:mx-2">
                            <span>AutoPilot</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="w-full bg-hsl-15 rounded-b-2xl">
                <div class="m-3 flex flex-col md:flex-row"> <!--TODO: Merge with above -->
                    <div class="w-full md:w-2/5 flex flex-col">
                        <nav class="w-full h-min bg-hsl-20 rounded-lg flex flex-col items-start shadow-sm shadow-hsl-5 p-3 mb-3 md:mb-0">
                            <button class="text-lg my-1 bg-hsl-25 rounded-lg px-2 py-1">
                                <i class="fa-solid fa-house mr-0.5 text-hsl-80"></i> Home
                            </button>
                            <button class="text-lg my-1">
                                <i class="fa-solid fa-medal mr-0.5"></i> First Places
                            </button>
                            <button class="text-lg my-1">
                                <i class="fa-solid fa-heart mr-0.5"></i> Favorite Maps
                            </button>
                            <button class="text-lg my-1">
                                <i class="fa-solid fa-medal mr-0.5"></i> Achievements
                            </button>
                            <button class="text-lg my-1">
                                <i class="fa-solid fa-note-sticky mr-0.5"></i> Notes
                            </button>
                            <!-- Another box with user info on home page only will go there -->
                        </nav>
                        <!--TODO: Move those 2 shitasses below to another place on mobile -->
                        <div class="w-full h-min bg-hsl-20 rounded-lg hidden md:flex flex-col text-lg shadow-sm shadow-hsl-5 p-3 my-3">
                            <span class="text-xl border-hsl-50 border-b pb-1 w-11/12 mx-auto flex items-center">
                                <span class="font-bold text-xl mx-auto">User Info</span>
                            </span>
                            <div class="grid gap-y-0.5 grid-cols-3 text-lg mt-3 w-10/12 mx-auto">
                                <span class="font-bold">Last Seen</span>
                                <span class="col-span-2">1 minute ago</span>
                                <span class="font-bold">Registered</span>
                                <span class="col-span-2">1 year ago</span>
                            </div>
                        </div>
                        <div class="hidden md:flex flex-row flex-wrap justify-center text-xl font-bold p-3 bg-hsl-20 rounded-lg shadow-hsl-5 shadow-sm">
                            <span class="text-xl border-hsl-50 border-b pb-1 w-11/12 mx-auto flex items-center">
                                <span class="font-bold text-xl mx-auto">Linked Socials</span>
                            </span>
                            <button class="bg-[#5865F2] flex flex-row items-center rounded-lg pb-1 pt-2 px-2.5 mx-1.5 mt-3">
                                <i class="fa-brands fa-discord -mt-0.5"></i>
                                <span class="ml-1">def750#2137</span>
                            </button>
                            <button class="bg-[#1DA1F2] flex flex-row items-center rounded-lg pb-1 pt-2 px-2.5 mx-1.5 mt-3">
                                <i class="fa-brands fa-twitter -mt-0.5"></i>
                                <span class="ml-1">@def750_person</span>
                            </button>
                            <button class="bg-white flex flex-row items-center rounded-lg pb-1 pt-2 px-2.5 mx-1.5 text-black mt-3">
                                <i class="fa-brands fa-github -mt-0.5"></i>
                                <span class="ml-1">def750</span>
                            </button>
                        </div>
                    </div>
                    <div class="md:ml-3 w-full flex flex-col">
                        <!-- User Stats -->
                        <div class="bg-hsl-20 rounded-lg shadow-sm shadow-hsl-5 flex flex-col mb-3">
                            <!-- Section 1, 2 -->
                            <div class="mx-4 my-3 flex flex-col md:flex-row h-full">
                                <!-- Left box | Rank, Grades, Graph -->
                                <div class="md:w-[67%] h-full flex flex-col">
                                    <div class="flex flex-col md:flex-row md:h-16 justify-center md:items-between mt-1">
                                        <div class="flex flex-row mx-auto md:mx-0">
                                            <div class="flex flex-col items-center mr-5">
                                                <span class="">Global Rank</span>
                                                <span class="text-3xl font-medium">#1</span>
                                            </div>
                                            <div class="flex flex-col items-center">
                                                <span class="">Country Rank</span>
                                                <span class="text-3xl font-medium">#1</span>
                                            </div>
                                        </div>
                                        <!-- Ranks -->
                                        <div class="flex flex-row mx-auto md:mr-2 md:ml-auto mt-2 md:mt-px">
                                            <div class="flex flex-col items-center mx-3">
                                                <span class="text-3xl font-bold -mt-1 text-gray-300">SS</span>
                                                <span class="">0</span>
                                            </div>
                                            <div class="flex flex-col items-center mx-3">
                                                <span class="text-3xl font-bold -mt-1 text-yellow-400">SS</span>
                                                <span class="">3</span>
                                            </div>
                                            <div class="flex flex-col items-center mx-3">
                                                <span class="text-3xl font-bold -mt-1 text-gray-300">S</span>
                                                <span class="">0</span>
                                            </div>
                                            <div class="flex flex-col items-center mx-3">
                                                <span class="text-3xl font-bold -mt-1 text-yellow-400">S</span>
                                                <span class="">397</span>
                                            </div>
                                            <div class="flex flex-col items-center mx-3">
                                                <span class="text-3xl font-bold -mt-1 text-green-500">A</span>
                                                <span class="">142</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Le Graph -->
                                    <div class="w-full h-64 flex items-center justify-center">
                                        <div class="text-2xl font-light">Graph goes here</div>
                                    </div>
                                </div>
                                <!-- Right Box | Stats-->
                                <div class="w-full md:w-[33%] h-fit md:border-l-3 md:border-hsl-15 my-auto md:pl-4 text-lg flex flex-col">
                                    <div class="grid grid-cols-2 gap-y-px">
                                        <!-- PP -->
                                        <span class="font-bold text-hsl-80">PP</span>
                                        <span class="text-hsl-90">5,792</span>
                                        <!-- ACC -->
                                        <span class="font-bold">Accuracy</span>
                                        <span>97.27%</span>
                                        <!-- Play Count -->
                                        <span class="font-bold">Play Count</span>
                                        <span>1,000</span>
                                        <!-- Total Score -->
                                        <span class="font-bold">Total Score</span>
                                        <span>727,213,769</span>
                                        <!-- Ranked Score -->
                                        <span class="font-bold">Ranked Score</span>
                                        <span>69,420,727</span>
                                        <!-- Total Hits -->
                                        <span class="font-bold">Total Hits</span>
                                        <span>1,000,000</span>
                                        <!-- Playtime -->
                                        <span class="font-bold">Playtime</span>
                                        <span>7d 2h 7m</span>
                                        <!-- Max Combo -->
                                        <span class="font-bold">Max Combo</span>
                                        <span>2,137</span>
                                        <!-- Replay Views -->
                                        <span class="font-bold">Replay Views</span>
                                        <span>69,420</span>
                                    </div>
                                    <div class="flex flex-row w-full mt-2">
                                        <div class="w-[72.7%] bg-hsl-50 h-7 rounded-l-lg flex items-center justify-end">
                                            <span class="text-sm mr-3">Level 34 (72.7%)</span>
                                        </div>
                                        <div class="w-[27.3%] bg-hsl-10 h-7 rounded-r-lg"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Section 3 | Custom Badges -->
                            <div class="mx-3 mb-3 flex flex-wrap">
                                <!-- Quaver & Possibly bancho badges for testing purposes only
                                    change before pushing into production -->
                                <img src="https://cdn.quavergame.com/badges/1.png" class="w-28 h-14">
                            </div>
                        </div>
                        <!-- About Me -->
                        <div class="bg-hsl-20 rounded-lg shadow-sm shadow-hsl-5 flex flex-col mb-3">
                            <span class="text-xl font-medium border-hsl-50 border-b-3 ml-4 mt-3 pb-1
                                whitespace-nowrap w-min">
                                About Me
                            </span>
                            <div class="mx-5 my-3 max-h-[96rem] overflow-y-auto">
                                <p>4k 9th dan + Alpha OD0 Clear / 9th ln / 3rd Joker / Delta HT <br>7k - None</p><br><h1>Visible happiness</h1><br><p></p><center><br><img alt="Uto" src="https://media.discordapp.net/attachments/830024987573354517/957018988792143972/uto-amatsuka-uto.gif"><br></center><p></p>
                            </div>
                        </div>
                        <!-- Pinned Scores -->
                        <div class="bg-hsl-20 rounded-lg shadow-sm shadow-hsl-5 flex flex-col mb-3">
                            <span class="text-xl font-medium border-hsl-50 border-b-3 ml-4 mt-3 pb-1
                                whitespace-nowrap w-min">
                                Pinned Scores
                            </span>
                            <div class="flex flex-col mx-3 my-3">
                                <div class="h-28 rounded-xl flex my-1 group">
                                    <div class="w-full group-hover:w-[95%] rounded-xl transition-[width] duration-300 ease-in-out"
                                        style="background: linear-gradient(hsla(var(--main), 15%, 15%, 0.5),
                                            hsla(var(--main), 15%, 15%, 0.5)),
                                            url('https://assets.ppy.sh/beatmaps/1751746/covers/cover.jpg') no-repeat center center / cover;">
                                    </div>
                                    <div class="hidden group-hover:flex items-center justify-center w-0 group-hover:w-[5%]">
                                        <em class="fa-solid fa-bars"></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- About Me -->
                        <div class="bg-hsl-20 rounded-lg shadow-sm shadow-hsl-5 flex flex-col mb-3">
                            <span class="text-xl font-medium border-hsl-50 border-b-3 ml-4 mt-3 pb-1
                                whitespace-nowrap w-min">
                                Best Scores
                            </span>
                            <p class="mx-4 my-3">
                                #best_scores.box
                            </p>
                        </div>
                        <!-- About Me -->
                        <div class="bg-hsl-20 rounded-lg shadow-sm shadow-hsl-5 flex flex-col mb-3">
                            <span class="text-xl font-medium border-hsl-50 border-b-3 ml-4 mt-3 pb-1
                                whitespace-nowrap w-min">
                                Recent Scores
                            </span>
                            <p class="mx-4 my-3">
                                #recent.box
                            </p>
                        </div>
                        <!-- About Me -->
                        <div class="bg-hsl-20 rounded-lg shadow-sm shadow-hsl-5 flex flex-col mb-3">
                            <span class="text-xl font-medium border-hsl-50 border-b-3 ml-4 mt-3 pb-1
                                whitespace-nowrap w-min">
                                Most Played
                            </span>
                            <p class="mx-4 my-3">
                                #most_played.box
                            </p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>


</div>
{% endblock %}

{% block bottom %}{% endblock %}