@font-face {
  font-family: osu-mode;
  src: url(./osu-fonts.ttf) format('truetype');
}

.mode-icon {
  font-family: osu-mode;
  font-weight: 400;
  font-style: initial;
}

.osu::before {
  content: '\E800';
}

.std::before {
  content: '\E800';
}

.catch::before {
  content: '\E801';
}

.mania::before {
  content: '\E802';
}

.taiko::before {
  content: '\E803';
}
