{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}

{% block header %}
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock %}


{% block content %}
<div class="w-full -mt-14 h-screen flex items-center justify-center"
     style="background: linear-gradient(hsl(var(--main), 10%, 10%, 0.65),
            hsl(var(--main), 10%, 10%, 0.65)), url(/static/images/home-bg-1.jpg);
            background-position: center; background-size: cover;">
    <div class="w-full md:w-2/3 lg:w-1/3 h-auto bg-zinc-900 backdrop-blur-lg bg-opacity-60 rounded-lg flex flex-col">
        <div class="bg-zinc-900 bg-opacity-60 flex items-center py-2 rounded-t-lg">
            <button class="flex text-lg absolute left-4 font-light justify-center"
                onclick="location.href='https://{{ domain() }}/login'">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left " width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <line x1="5" y1="12" x2="19" y2="12" />
                    <line x1="5" y1="12" x2="11" y2="18" />
                    <line x1="5" y1="12" x2="11" y2="6" />
                </svg>
            </button>
            <div class="mx-12 text-xl text-center" id="header-text">
                {% if message %}
                    <span class="text-base font-normal text-red-500 break-words">{{ message }}</span>
                {% elif type==2 %}
                    <span class="mx-auto font-extralight">Reset Password</span>
                {% else %}
                    <span class="mx-auto font-extralight">Forgot Password?</span>
                {% endif %}
            </div>
        </div>
        <div class="w-full flex flex-col mt-5 mb-4" id="form-container">
            {% if type == 0 %}
            <form id="emailForm" method="POST" class="w-full">
                <!-- One "tab" for each step in the form: -->
                <div class="tab mx-4">
                    <label class="text-sm italic font-extralight text-red-500 hidden ml-1 mt-1"
                        id="field-email_label" for="field-email">
                    </label>
                    <input placeholder="Your Email" id="field-email" type="email" name="email"
                        class="px-4 py-2 w-full bg-zinc-900 bg-opacity-50 rounded-lg
                        border-hsl-50 focus:border-b-2 focus:bg-opacity-20 focus:rounded-none
                        transition duration-300 outline-none mt-0.5"
                        oninput="this.classList.remove('bg-red-500'); validateEmail(this.value);">
                </div>
                <div class="w-full flex items-center justify-center">
                    <button class="px-3 py-1.5 mt-3 rounded-lg font-semibold bg-hsl-50"
                        type="submit">
                        <span>Submit</span>
                    </button>
                </div>
            </form>
            {% elif type == 1 %}
            <div class="">
                <div class="w-full flex items-center justify-center">
                    <div class="text-center text-lg font-extralight">
                        <p>
                            Email sent successfully, code will expire in 30 minutes.<br>
                            Remember to check spam folder, if you have problems contact def750#2296 on discord
                        </p>
                    </div>
                </div>
            </div>
            {% elif type == 2 %}
                <form id="emailForm" method="POST" class="w-full">
                    <!-- One "tab" for each step in the form: -->
                    <div class="tab mx-4">
                        <label class="text-sm italic font-extralight text-red-500 hidden ml-1"
                        id="field-password_label" for="field-username">
                        </label>
                        <input placeholder="New Password" id="field-password" type="password" name="password"
                            class="px-4 py-2 w-full mx-auto bg-zinc-900 bg-opacity-50 rounded-lg
                            border-hsl-50 focus:border-b-2 focus:bg-opacity-20 focus:rounded-none
                            transition duration-300 outline-none mt-0.5 mb-1"
                            oninput="this.classList.remove('bg-red-500'); validatePassword(this.value);">
                        <!-- Email Field -->
                        <label class="text-sm italic font-extralight text-red-500 hidden ml-1 mt-1"
                            id="field-cpassword_label" for="field-cpassword">
                        </label>
                        <input placeholder="Confirm Password" id="field-cpassword" type="password" name="cpassword"
                            class="px-4 py-2 w-full bg-zinc-900 bg-opacity-50 rounded-lg
                            border-hsl-50 focus:border-b-2 focus:bg-opacity-20 focus:rounded-none
                            transition duration-300 outline-none mt-0.5"
                            oninput="this.classList.remove('bg-red-500'); validateCPassword(this.value);">
                    </div>
                    <div class="w-full flex items-center justify-center">
                        <button class="px-3 py-1.5 mt-3 rounded-lg font-semibold bg-hsl-50"
                            type="submit">
                            <span>Submit</span>
                        </button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block bottom %}
<style>
  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

</style>
<!-- Form data scripts -->
<script>
    document.getElementById("footer").classList.add("-mt-14")
    document.getElementById("navbar-colourer").classList.remove("bg-hsl-50");

    function validateEmail(string) {
        // email regex
        var regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!regex.test(string)) {
            error = true
            document.getElementById('field-email_label').classList.add('flex')
            document.getElementById('field-email_label').classList.remove('hidden')
            document.getElementById('field-email_label').innerHTML = 'Invalid Email'
        } else {
            error = false
            document.getElementById('field-email_label').classList.add('hidden')
            document.getElementById('field-email_label').classList.remove('flex')
        }
        return error
    }

    function validatePassword(string) {
        // Regex test
        error = false
        msg = ""
        if (!string.match(/[0-9]/)) {
            // Password must contain at least one number
            error = true
            msg = 'Password must contain at least one number'
        } else if (!string.match(/[A-Z]/)) {
            // Password must contain at least one uppercase letter
            error = true
            msg = 'Password must contain at least one uppercase letter'
        } else if (!string.match(/[a-z]/)) {
            // Password must contain at least one lowercase letter
            error = true
            msg = 'Password must contain at least one lowercase letter'
        } if (string.length < 8 || string.length > 32) {
            // Password must be between 8-32 characters
            error = true
            msg = 'Password must be between 8-32 characters'
        }

        if (error == true) {
            document.getElementById('field-password_label').classList.add('flex')
            document.getElementById('field-password_label').classList.remove('hidden')
            document.getElementById('field-password_label').innerHTML = msg
        } else {
            error = false
            document.getElementById('field-password_label').classList.add('hidden')
            document.getElementById('field-password_label').classList.remove('flex')
        }
        return error
    }

    function validateCPassword(string) {
        if (string != document.getElementById('field-password').value) {
            error = true
            document.getElementById('field-cpassword_label').classList.add('flex')
            document.getElementById('field-cpassword_label').classList.remove('hidden')
            document.getElementById('field-cpassword_label').innerHTML = 'Passwords do not match'
        } else {
            error = false
            document.getElementById('field-cpassword_label').classList.add('hidden')
            document.getElementById('field-cpassword_label').classList.remove('flex')
        }

        return error
    }
</script>

{% endblock %}