{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<div class="w-11/12 mx-auto max-w-screen-xl bg-hsl-20 rounded-lg">
    <div class="mx-8 my-4">
        <div class="flex flex-col w-full">
            <div class="mt-4">
                <h1 class="text-xl font-semibold">Seven Twenty Seven Privacy Policy</h1>
                <div class="h-1 w-24 bg-hsl-60 rounded-full mt-1"></div>
            </div>
        <div class="flex flex-col mt-4 text-sm">
            <h4 class="text-xs font-thin">Last Updated: 21.04.2021</h2>
            <h2 class="mt-3 font-semibold text-lg">1. Introduction</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                Seven Twenty Seven is private "<i class="italic">osu!</i>" game server.
                We're not affiliated with ppy Pty Ltd in any way. "<i class="italic">osu!</i>" is
                trademark of ppy Pty Ltd.<br><br>
                Seven Twenty Seven is run by entity in Poland and with servers located in Germany.
            </p>
            <p class="mt-2">
                Seven Twenty Seven offers a wide variety of services to users from almost every country
                around the world, with a vibrant community and many opportunities for users
                to share their creativity with others by means of user profiles,
                private messages, in-game chat, clans.
                <br><br>
                In order to offer these services to you, we must often collect, store and
                transmit personal information. We strive to be as transparent as possible
                in every aspect of running Seven Twenty Seven, and this privacy policy should bring us
                even closer to that goal.
                <br><br>
                This document aims to describe what information we collect on our network
                and in the use of our products and services, how we use that information and
                what options we offer you to control your personal information.
            </p>
            <p class="mt-2">
                By using our service, you confirm that you have read and understood the
                Terms of Service and this privacy policy, including how and why we use your
                information and that your use of the service is subject to the applicable
                Terms of Service and this Privacy Policy. If you do not want us to collect
                or process your personal information as described herein, you have several
                choices including limiting the information we collect on you, or not using
                the Network, or our Products and Services.
            </p>
            <h2 class="mt-3 text-lg font-semibold">2. Information we collect</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <span class="mt-1 text-base font-medium">On account registration</span>
            <div class="h-1 w-8 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                <ul class="list-disc mb-2 ml-5">
                    <li>Username</li>
                    <li>Email</li>
                    <li>IP address and country</li>
                    <li>Password (md5+salt then bcrypt)</li>
                    <!-- ... -->
                </ul>
            This information with exception of username and country is never shared publicly.
            </p>
            <span class="mt-1 text-base font-medium">On profile update</span>
            <div class="h-1 w-8 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                <ul class="list-disc mb-2 ml-5">
                    <li>Your current location</li>
                    <li>Your interests</li>
                    <li>Avatar, banner and background</li>
                    <li>Your social media presence (twitter, discord, website)</li>
                    <!-- ... -->
                  </ul>
                  All the above fields are publicly visible but can be withdrawn immediately and permanently at any point from the settings page.
            </p>
            <span class="mt-1 text-base font-medium">On logging in to the game client</span>
            <div class="h-1 w-8 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                When connecting to our service from the Seven Twenty Seven game client, a client-specific
                string is submitted to help us identify your current play environment.
                It is created based off a combination of identifiers from your hardware and
                software configuration and hashed in such a way that it contains no personally
                identifiable information, but can be used to track your access across logins
                to our service.
                <br><br>
                The main purpose of this is to maintain a fair ranking system and help us enforce
                account security should your account be accessed from a compromised location.
                This is considered private and only stored as long as it is deemed relevant.
                It is also non-transferable, and has no meaning outside the Seven Twenty Seven ecosystem.
            </p>
            <span class="mt-1 text-base font-medium">On playing the game and submitting a score</span>
            <div class="h-1 w-8 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                When completing a game session (passing or failing a beatmap),
                details on your performance will be automatically submitted to our server.
                The scoring portion of this submission includes game replay data and may
                be displayed publicly in the Global Leaderboards and on your User Profile
                and can not be deleted or modified.
            </p>
            <span class="mt-1 text-base font-medium">Logging</span>
            <div class="h-1 w-8 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                We utilise error logging which collects technical and usage information
                as you use our services. This may include your IP address, email, browser version,
                operating system, geolocation data. This information won't be shared with third parties.
            </p>
            <span class="mt-1 text-base font-medium">Disclosures of your personal data</span>
            <div class="h-1 w-8 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                We do not perform any marketing, advertising nor send any unsolicited emails.
                The only emails you will receive from us are the result of an action on our service
                (such as requesting two-factor authentication, purchasing a product or enabling
                notifications for a discussion).

                We may share your personal data with third parties in very specific cases:
                <ul class="list-disc mb-2 ml-5">
                    <li>Where you have expressly made information public</li>
                    <li>To fulfil your store orders</li>
                    <li>To process payments via payment processing providers like Paypal </li>
                    <li>Mailjet to send emails</li>
                    <li>In order to improve our service, via error logging (we use
                        <a href="https://sentry.io/"
                           class="text-hsl-90 hover:text-hsl-80 underline transform duration-200">
                           Sentry
                        </a>)
                    </li>
                    <!-- ... -->
                  </ul>
            </p>
            <h2 class="mt-3 font-semibold text-lg">3. Your rights and control</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                You have the option of deleting your account from our service.
                Please note that this is currently a manual process and may take several days
                to complete (contact us to file a request). In the case of account deletion,
                portions of your public contributions may remain intact,
                as detailed in "Information we collect".

                As we have a strict one-account-per-user policy to maintain fair leaderboards,
                after account deletion you may not be able to return to our service.
                To enforce this, we will also maintain the unique identifying string as
                mentioned in "Information we collect", even after account deletion.
                This is done so as a
                <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/legitimate-interests/when-can-we-rely-on-legitimate-interests/"
                   class="text-hsl-90 hover:text-hsl-80 underline transform duration-200">
                    legitimate interest as outlined in the GDPR
                </a>
                in order to enforce our rules. Rest assured, this information is
                one-way hashed and cannot be used to identify you outside of Seven Twenty Seven,
                or beyond the precise context of enforcing this rule.
            </p>

            <h2 class="mt-3 font-semibold text-lg">4. Cookies</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                We use cookies, as does the rest of the internet. We strictly
                use them to maintain your session state and login credentials
                across multiple sessions. If you're allergic to cookies,
                do not use our services.
            </p>

            <h2 class="mt-3 font-semibold text-lg">5. Data Security</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                Security is very important to us. Seven Twenty Seven follows accepted standards
                to protect your personal information during processing, transferring,
                and storage. We employ HSTS to ensure all sites on our domain are encrypted via
                TLS and maintain high standards in data security for access to our servers,
                restricting access to your personal data when we do not need to access it.

                We also regularly purge data on an ongoing and automatic basis as to only keep
                as much historical data as necessary to perform our legitimate business interests.
            </p>

            <h2 class="mt-3 font-semibold text-lg">6. Children</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1 mb-5">
                Seven Twenty Seven services are not designed for children
                under the age of 13. If we discover that a person under the age of
                13 has submitted personal information to us without parental permission,
                we will endeavour to delete the information from our systems.
            </p>
        </div>
    </div>
</div>
{% endblock %}