{% extends 'base.html' %}
{% block title %}{% if type == 'friend' %}Friends{% else %}Blocked Users{% endif %}{% endblock %}
{% block header %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block content %}
<script>
  function remove_relationship(u2id) {
    document.getElementById("block-" + u2id).remove()
    axios.get("https://{{ domain() }}/web_api/remove_relationship?type={{ type }}&target=" + u2id)
  }
</script>
<div class="w-10/12 h-auto bg-hsl-15 mx-auto mt-8 rounded-t-xl overflow-hidden">
  <div class="flex flex-col content-center">
    <div class="bg-hsl-20 text-xl font-semibold rounded-t-xl py-2.5">
      <div class="flex flex-row content-center items-center justify-between mx-4">
        <span>{{ type|capitalize }}s</span>
        <a href="/relationships/{% if type == 'friend' %}block{% else %}friend{% endif %}">
          <span class="transform hover:scale-105 duration-200
          font-normal text-base transition px-2 py-1 bg-hsl-45 hover:bg-hsl-55 rounded-md"
          >See {% if type == 'friend' %}Blocked Users{% else %}Friends{% endif %}</span>
        </a>
      </div>
    </div>
    {% if res == False %}
      <span>You have no {% if type == 'friend' %}Friends{% else %}Blocked Users{% endif %} added</span>
    {% else %}
      <div class="m-6 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 row-auto gap-4">
      {% for i in res %}
        <div class="bg-hsl-15-20 h-40 rounded-2xl col-span-1 row-span-1"
            style="background: linear-gradient(hsl(275, 20%, 20%, 0.7),
                  hsl(275, 20%, 20%, 0.7)), url(https://{{ domain() }}/card_backgrounds/{{ i['user2'] }});
                    background-position: center; background-size: cover;"
            x-data="{ open: false }"
            @mouseover="open = true"
            @mouseover.away="open = false"
            id="block-{{ i['user2'] }}">
          <div class="m-3 flex flex-col justify-items-stretch h-34">
            <div class="flex flex-row h-3/6">
              <div class="mr-3">
                <img class="h-16 w-16 rounded-lg" src="https://a.{{ domain() }}/{{ i['user2'] }}"
                onerror="this.src='/static/images/avatar_notwork.png';">
              </div>
              <div class="flex flex-col content-center">
                <div class="flex flex-row content-center items-center h-8">
                  <img src="/static/images/flags/{{ i['country']|upper }}.png" class="w-12 h-6">
                  <a href="/u/{{ i['user2'] }}" class="ml-1.5 text-bold hover:text-hsl-80 transition duration-200 text-xl w-full h-8">
                    <p class="w-full break-normal">{{ i['name'] }}</p>
                  </a>
                </div>
                <div class="mt-1">
                  {% for b in i['badges'] %}
                    <span class="bg-gray-900 bg-opacity-80 rounded-md mr-1 py-1 px-2 text-2xs font-semibold uppercase" style="color: {{ b[1] }}">{{ b[0] }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="flex flex-row content-center h-3/6">
              <div class="flex justify-center content-center w-16 mr-3 items-center">
                <div class="h-6 w-6 rounded-full border-4" style="border-color: #000000;" id="status-indicator-{{ i['user2'] }}"></div>
              </div>
              <div class="flex items-center content-center w-10/12">
                <div class="flex items-center">
                  <script>
                    axios.get("https://osu.{{ domain() }}/api/get_player_status?id={{ i['user2'] }}")
                    .then((response) => {
                      var status = response.data.player_status.online;
                      if (status == true) {
                        document.getElementById("status-{{ i['user2'] }}").innerHTML = 'Online';
                        document.getElementById("status-indicator-{{ i['user2'] }}").style.borderColor = '#b3d944';
                        document.getElementById("last-seen-{{ i['user2'] }}").remove()
                      }
                    });
                  </script>
                  <span class="font-semibold w-4/12" id="status-{{ i['user2'] }}">Offline</span>
                  <span class="w-64" id="last-seen-{{ i['user2'] }}">Last seen {{ i['latest_activity'] }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="flex justify-end w-full -mt-12 -ml-4" x-show="open">
            <button class="p-2 rounded-lg bg-hsl-15 bg-opacity-60 hover:bg-opacity-100 hover:bg-red-600 transition transform duration-200"
                    title="Remove {{ type|capitalize}}"
                    onclick="remove_relationship({{ i['user2']}})">
              <i class="fas fa-user-times"></i>
            </button>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}