{% extends 'base.html' %}
{% block title %} Request Beatmap {% endblock %}
{% block header %}
{% endblock%}

{% block content %}
<div class="flex flex-col w-full md:w-11/12 lg:w-10/12 mx-auto my-4">
    {% if flash %}
    <div class="w-11/12 md:w-full mx-auto mb">
        {% include 'components/flash.html' %}
    </div>
    {% endif %}
    <div class="flex content-center items-center w-full h-16 bg-hsl-15-20 mx-auto mt-8">
        <div class="flex content-center items-center text-base font-semibold ml-5 lg:ml-8">
            <div class="w-8 h-8 mr-3" style="background-position: center; background-size: cover;
                 background-image: url(https://osu.ppy.sh/assets/images/beatmapsets.d82379a6.svg);"></div>
            <span>Request Beatmap Ranking</span>
        </div>
    </div>
    <div class="h-32 py-2 bg-hsl-15">
        <span>Want pp? Yeah me too :trolley:</span>
    </div>
</div>
{% endblock %}