{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<div class="w-11/12 mx-auto max-w-screen-xl bg-hsl-20 rounded-lg">
    <div class="mx-8 my-4">
        <div class="flex flex-col w-full">
            <div class="mt-4">
                <h1 class="text-xl font-semibold">Seven Twenty Seven Rules</h1>
                <div class="h-1 w-24 bg-hsl-60 rounded-full mt-1"></div>
            </div>
        <div class="flex flex-col mt-4 text-sm">
            <h4 class="text-xs font-thin">Last Updated: 13.03.2021</h2>
            <h2 class="mt-3 font-semibold text-lg">Introduction</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                Seven Twenty Seven like every other website and game server has rules,<br><br>
                Not knowing the rules doesn't excuse you from following them, just because you
                don't read it doesn't mean you can do whatever you want.
            </p>


            <h2 class="mt-3 font-semibold text-lg">1. Cheating</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                Seven Twenty Seven is not, never has been and never will be a cheat server.<br>
                Using software or exploits that give you an advantage over others will be severely punished.
                Just don't cheat in circle game man.
            </p>

            <h2 class="mt-3 font-semibold text-lg">2. Multi Accounting</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                Like on official servers, multi accounting isn't allowed and will be punished.
                One account per person.
            </p>

            <h2 class="mt-3 font-semibold text-lg">3. Acts against the server</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                Abusing server bugs that can potentially break it, cause downtime or financial costs
                will be punished with permanent ban without possibility to appeal.<br>
                We won't tolerate this here.
            </p>

            <h2 class="mt-3 font-semibold text-lg">4. Advertising</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                Advertising other private servers on Seven Twenty Seven is not allowed.
            </p>

            <h2 class="mt-3 font-semibold text-lg">5. Impersonantions and nicknames</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                <span class="font-semibold">5.1</span> Impersonating other users especially celebrities will result in name change.
                If you continue after warning and change of your name to not allowed name or
                one that's impersonating another user, your supporter privileges will be revoked
                without refund.
                <br><br>
                <span class="font-semibold">5.2</span> Using nicknames that are inappropriate or ones
                that are containing characters that cannot be written normally will be punished accordingly.
            </p>

            <h2 class="mt-3 font-semibold text-lg">6. Chat rules</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1">
                <ul class="list-disc mb-2 ml-5">
                    <li>Don't spam</li>
                    <li>Keep swearing to minimum</li>
                    <li>No NSFW content</li>
                    <li>Sending malicious links is prohibited and will result in a permanent mute</li>
                    <li>Doxxing people is stringly prohibited (And also punished with permanent mute)</li>
                    <!-- ... -->
                </ul>
            </p>
            <h2 class="mt-3 font-semibold text-lg">7. Account sharing.</h2>
            <div class="h-1 w-12 bg-hsl-60 rounded-full mt-1"></div>
            <p class="mt-1 mb-5">
                Account that you created is yours and only yours, sharing it is prohibited and will result with restriction on both.
            </p>
        </div>
    </div>
</div>
{% endblock %}