<nav id="navbar" class="backdrop-blur bg-hsl-10 bg-opacity-60 w-full transition duration-300 sticky top-0" 
    x-data="{ open: false }" :class="{'bg-opacity-100': open}">
    <div class="h-full w-11/12 mx-auto">
        <div class="flex flex-col mx-auto md:items-center py-3
                    md:justify-between md:flex-row md:bg-transparent"
             :class="{'bg-hsl-10': open}">
            <div class="flex flex-row items-center justify-between">
                <a href="/" class="text-lg font-semibold tracking-widest text-white rounded-lg
                    focus:outline-none focus:shadow-outline">727<span class="text-gray-300">.xyz</span>
                </a>
                <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
                    <svg fill="currentColor" viewbox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <nav :class="{'flex': open, 'hidden': !open}"
                class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:flex-row">
                <a class="px-3 py-2 mt-2 text-sm font-semibold md:mt-0
                    hover:text-hsl-90 transition duration-200
                    focus:outline-none focus:shadow-outline" href="/leaderboard">Leaderboard</a>
                <a class="px-3 py-2 mt-2 text-sm font-semibold md:mt-0
                    hover:text-hsl-90 transition duration-200
                    focus:outline-none focus:shadow-outline" href="/beatmaps">Beatmaps</a>
                    <div class="flex flex-row items-center w-full px-3 py-2 mt-2 text-sm
                                font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0  hover:text-hsl-90 transition duration-200
                                focus:outline-none focus:shadow-outline">
                        <a href="/docs">Docs</a>
                    </div>
                    <!--! Commented out in case we want to bring it back -->
           <!-- <div @click.away="open = false" class="relative" x-data="{ open: false }">
                    <button @click="open = !open" class="flex flex-row items-center w-full px-3 py-2 mt-2 text-sm
                        font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 focus:outline-none">
                        <span>Docs</span>
                        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                    <div x-show="open"
                        x-transition:enter="transition ease-out duration-200" x-transition:enter-start="transform opacity-0 scale-95"
                        x-transition:enter-end="transform opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-100" x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95"
                        class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48 z-10">
                        <div class="py-2 bg-hsl-15 rounded-md shadow">
                            <a class="block px-6 py-2 text-sm font-semibold bg-transparent md:mt-0
                                hover:text-hsl-90 focus:text-hsl-90 hover:bg-hsl-25 focus:bg-hsl-25
                                border-hsl-50 hover:border-l-3 focus:border-l-3
                                focus:outline-none focus:shadow-outline" href="/docs/rules">Rules</a>
                            <a class="block px-6 py-2 mt-2 text-sm font-semibold bg-transparent md:mt-0
                                hover:text-hsl-90 focus:text-hsl-90 hover:bg-hsl-25 focus:bg-hsl-25
                                border-hsl-50 hover:border-l-3 focus:border-l-3
                                focus:outline-none focus:shadow-outline" href="/docs/privacy_policy">Privacy Policy</a>
                        </div>
                    </div>
                </div> -->
                <div class="flex-col flex-grow flex md:justify-end md:flex-row" id="nav-right-row">
                    {% if session.authenticated == True %}
                    <div @click.away="open = false" class="relative" x-data="{ open: false }">
                        <button @click="open = !open" class="flex flex-row items-center w-full px-3 mt-2 text-sm
                            font-semibold bg-transparent rounded-lg md:w-auto md:mt-0 focus:outline-none h-full">
                            <div class="h-8 w-8 mr-2 rounded-full bg-cover"
                                style="background-image: url(https://a.{{ domain() }}/{{ session.user.id }});"></div>
                            <span>{{ session.user.name }}</span>
                            <svg fill="currentColor" viewbox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-px"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                        <div x-show="open"
                            x-transition:enter="transition ease-out duration-200" x-transition:enter-start="transform opacity-0 scale-95"
                            x-transition:enter-end="transform opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-100" x-transition:leave-start="transform opacity-100 scale-100"
                            x-transition:leave-end="transform opacity-0 scale-95"
                            class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48 z-10">
                            <div class="py-2 bg-hsl-15 rounded-md shadow">
                                <a class="block px-6 py-2 text-sm font-semibold bg-transparent md:mt-0
                                    hover:text-hsl-90 focus:text-hsl-90 hover:bg-hsl-25 focus:bg-hsl-25
                                    border-hsl-50 hover:border-l-3 focus:border-l-3
                                    focus:outline-none focus:shadow-outline" href="/u/{{ session.user.id }}">Profile</a>
                                <a class="block px-6 py-2 text-sm font-semibold bg-transparent md:mt-0
                                    hover:text-hsl-90 focus:text-hsl-90 hover:bg-hsl-25 focus:bg-hsl-25
                                    border-hsl-50 hover:border-l-3 focus:border-l-3
                                    focus:outline-none focus:shadow-outline" href="/relationships">Relationships</a>
                                <a class="block px-6 py-2 mt-2 text-sm font-semibold bg-transparent md:mt-0
                                    hover:text-hsl-90 focus:text-hsl-90 hover:bg-hsl-25 focus:bg-hsl-25
                                    border-hsl-50 hover:border-l-3 focus:border-l-3
                                    focus:outline-none focus:shadow-outline" href="/settings">Settings</a>
                                <a class="block px-6 py-2 mt-2 text-sm font-semibold bg-transparent md:mt-0
                                    hover:text-hsl-90 focus:text-hsl-90 hover:bg-hsl-25 focus:bg-hsl-25
                                    border-hsl-50 hover:border-l-3 focus:border-l-3
                                    focus:outline-none focus:shadow-outline" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!-- Login Form -->
                    <div class="relative" @open-dropdown.window="if ($event.detail.id == 1) l_open = true" x-data="{ l_open: false }">
                        <button @click="l_open = !l_open" class="px-3 py-2 mt-2 text-sm font-semibold md:mt-0
                            hover:text-hsl-90 transition duration-200
                            focus:outline-none focus:shadow-outline">Login
                        </button>
                        <div x-show="l_open"
                            x-transition:enter="transition ease-out duration-200" x-transition:enter-start="transform opacity-0 scale-95"
                            x-transition:enter-end="transform opacity-100 scale-100"
                            x-transition:leave="transition ease-in duration-100" x-transition:leave-start="transform opacity-100 scale-100"
                            x-transition:leave-end="transform opacity-0 scale-95"
                            class="absolute right-0 md:-right-28 w-full mt-2 origin-top-right rounded-lg shadow-lg md:w-80 z-10">
                            <div class="py-2 bg-hsl-15 rounded-lg shadow">
                                <div class="px-4 flex flex-row mt-2">
                                    <span class="text-3xl font-extralight text-center">Please log in</span>
                                    <button class="ml-auto my-auto mr-2 text-lg cursor-pointer" @click="l_open = false">
                                        <i class="fa-solid fa-xmark hover:rotate-full
                                            scale-110 transition duration-300"></i>
                                    </button>
                                </div>
                                <!-- Login form -->
                                <form method="POST" action="/login" class="px-4 mt-5 mb-4">
                                    <div class="flex flex-col">
                                        <input id="login-email" name="username" type="text" placeholder="Username"
                                        class="block w-full bg-hsl-20 text-hsl-90 rounded-lg px-3 py-2 outline-none" required>
                                        <input id="login-password" name="password" type="password" placeholder="Password"
                                        class="block w-full bg-hsl-20 text-hsl-90 rounded-lg px-3 py-2 outline-none mt-3" required>
                                        <!-- H Captcha-->
                                        <div class="flex flex-row justify-center mt-4">
                                            <div class="h-captcha scale-90" data-sitekey="{{ hcap_public() }}" data-theme="dark" style="display: flex; justify-content: center;"></div>
                                        </div>
                                        <div class="flex flex-row mx-2 text-sm">
                                            <!-- Forgor password -->
                                            <a href="/forgot" class="text-hsl-90 hover:text-hsl-80
                                                focus:text-hsl-80 focus:outline-none mt-3">Forgot password?</a>
                                        </div>

                                        <!-- Form Submit -->
                                        <button type="submit" class="block w-3/5 mx-auto bg-hsl-50 text-gray-200
                                            rounded-xl px-3 py-2 mt-4 font-semibold outline-none hover:bg-hsl-60
                                            hover:scale-105 transition duration-200">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a class="px-3 py-2 mt-2 text-sm font-semibold md:mt-0
                        hover:text-hsl-90 transition duration-200
                        focus:outline-none focus:shadow-outline" href="/register">Register</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</nav>
